@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Silkscreen", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #402f0c;
  background: linear-gradient(180deg, rgba(64, 47, 12, 1) 0%, rgba(179, 143, 66, 1) 58%, rgba(242, 195, 92, 1) 100%);
}
  
.titulo {
  width: 600px;
  height: 50px;
  color: gold;
  -webkit-text-stroke: 2px brown;
  text-shadow:
    3px 3px 0.5px rgba(0, 0, 0, 0.3),
    1px -3px 0.5px rgba(0, 0, 0, 0.3),
    -1px -1px 0.5px rgba(0, 0, 0, 0.3),
    -1px 1px 0.5px rgba(0, 0, 0, 0.3)
  ;
  border-bottom: 2px solid navy;
  font-size: 35px;
  text-align: center;
}
  
#seleccionar-monstruo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.caja-tarjetas{
  width: 600px;
  min-width: 300px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
}

.tarjeta-de-monstruo{
  width: 150px;
  height: 150px;
  background-color: gold;
  padding: 10px;
  margin: 10px;
  border: 2px solid brown;
  border-radius: 10px;
}

input{
  display: none;
}

button{
  width: 200px;
  height: 30px;
  border: 2px solid navy;
  border-radius: 50px;
}